section {
  border: 4px solid royalblue;
}
.course-list {
  &__item-wrapper {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid lightgray;
  }

  &__notification {
    text-align: center;
  }

  &__item {
    flex-grow: 1;
  }
  &__buttons {
    min-width: 183px;
  }
}

course {
  border: 5px solid darkgrey;
}
