section {
  border: 4px solid royalblue;
}
.course-list {
  &__item-wrapper {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid lightgray;
  }

  &__notification {
    text-align: center;
  }

  &__item {
    flex-grow: 1;
  }
  &__buttons {
  }
}

.load_more {
  border: 5px solid #3f51b5;
  text-align: center;
  font-weight: 800;
}

course {
  border: 5px solid darkgrey;
}
