.course {
  align-items: center;

  &__content {
    flex-grow: 1;
    margin-right: 20px;
    overflow: hidden;
  }

  &__star--rated {
    color: gold;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__title {
    margin-right: auto;
  }
  &--createdDate {
    font-weight: bold;
    margin-left: 30px;
  }
}
