<mat-card class="course">
  <div class="course__header">
    <mat-card-title class="course__title">{{course.title|uppercase}} |
      <i [ngClass]="{'course__star--rated': course.topRated}" class="fa fa-star"></i>
    </mat-card-title>
    <mat-card-subtitle>{{course.duration | duration}}</mat-card-subtitle>
    <mat-card-subtitle class="course--createdDate">{{course.creation| date:'MM.dd.yyyy'}}</mat-card-subtitle>
  </div>
  <mat-card-content>{{course.description}}</mat-card-content>
</mat-card>
